# Offline training configuration for bandit environment
env: "bandit"
envs: 10000
hists: 1
samples: 1
H: 100
dim: 5
var: 0.3
cov: 0.0

# Model configuration
embd: 32
head: 4
layer: 4
lr: 0.001
dropout: 0
shuffle: true

# Training configuration
chutney: 1000
seed: 1